<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html xmlns:th="https://www.thymeleaf.org"></html>
<div class="container">
<div class="col-md-12">
    <div class="offer-dedicated-body-left">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                    <h1 class="mb-0 mb-4">Ratings and Reviews</h1>
                    <div class="page">
                        <div class="row">
                            <!-- <div class="col-sm-6 push-bit">
                              
                                <div class="row push-bit">
                                </div>
                            </div> -->
                            <div *ngFor ="let book of book" class="col-sm-6 push-bit">
                                <div class="clearfix">
                                    <span class="h4">
                                        <strong class="text-success">{{book?.title}}</strong><br />
                                        <br>
                                        <small>isbn: {{book?.id}}
                                            <br> Genre: {{book?.genre}}
                        <br> Published on: {{book?.release_date}} 
                        <br> Publishing info: {{book?.publishingInfo}}
                                        </small>
                                    </span>
                                </div>
                                <hr>
                                <div class = "paragraph">
                                    <p>
                                        by {{book.author}}
                                    </p>
                                </div> 
                                <hr>
                            </div>
                        </div>
                    </div>



<!-- <span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

<p>4.1 average based on 254 reviews.</p>

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div> -->
                <div *ngFor ="let book of book" class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                    <h5 class="mb-1">Reviews for {{book?.title}}</h5>
                    <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <h6 class="mb-1"><a class="text-black">{{book?.review}}</a></h6>
                                    <span class="star-rating float-right">
                                          <!-- <a><i class="icofont-ui-rating active"></i></a>
                                          <a><i class="icofont-ui-rating active"></i></a>
                                          <a><i class="icofont-ui-rating active"></i></a>
                                          <a><i class="icofont-ui-rating active"></i></a>
                                          <a><i class="icofont-ui-rating active"></i></a> -->
                                          </span>
                                </div>
                                <div class="reviews-members-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <h6 class="mb-1"><a class="text-black">Gurdeep Singh</a></h6>
                                    <span class="star-rating float-right">
                                          <a href="#"><i class="icofont-ui-rating active"></i></a>
                                          <a href="#"><i class="icofont-ui-rating active"></i></a>
                                          <a href="#"><i class="icofont-ui-rating active"></i></a>
                                          <a href="#"><i class="icofont-ui-rating active"></i></a>
                                          <a href="#"><i class="icofont-ui-rating"></i></a>
                                          </span>
                                </div>
                                <div class="reviews-members-body">
                                    <p>This is a test</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <hr>
                    <!-- <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All Reviews</a> -->
                </div>
                <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                    <h1>Make your Review</h1>
                    <form #reviewForm ="ngForm" (ngSubmit)="onSubmit(reviewForm.value)">
                      <label for="book">Choose a book:</label>
                        <select ngModel name="id" id="book">
                            <option *ngFor ="let book of book" value="book.title" ngModel="{{book?.title}}" name="title">{{book?.title}}</option>
                        </select>
                        <label for="cars">Stars:</label><br>
                    <select name="rating" id="rating">
                      <option value="1" ngModel="{{book?.rating}}" name="rating">*</option>
                      <option value="2" ngModel="{{book?.rating}}" name="rating">* *</option>
                      <option value="3" ngModel="{{book?.rating}}" name="rating">* * *</option>
                      <option value="4" ngModel="{{book?.rating}}" name="rating">* * * *</option>
                      <option value="5" ngModel="{{book?.rating}}" name="rating">* * * * *</option>
                    </select>
                    <div class="example-full-width">
                        <textarea name="review" rows="5" cols="80" id="review"  ngModel="{{book?.review}}" name="review"></textarea>
                    </div>
                        <button class="btn-block" type ="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

