<h1 align="CENTER"; style="font-family:'fantasy';background-color:rgb(67, 217, 217);">Wish List</h1>
<body>
<fieldset>
  <fieldset>
    <legend>Jujutsu Kaisen</legend>
    <IMG src="/Users/joselo09111/Downloads/Jujutsu Kaisen.jpg">
    <tl>An amazing fantasy.
    </tl>
    <tl align="RIGHT">$9.99</tl>
    <dl> </dl>
    <button type="button">Add to Cart!</button>
    <button type="button">Remove to Cart!</button>
  </fieldset>
  <fieldset>
    <legend>Hunger Games</legend>
    <IMG src="/Users/joselo09111/Downloads/open-book-clipart-03.png">
    <tl>A book of war.
    </tl>
    <tl align="RIGHT">$8.99</tl>
    <dl> </dl>
    <button type="button">Add to Cart!</button>
    <button type="button">Remove to Cart!</button>
  </fieldset>
  <fieldset>
    <legend>Harry Potter</legend>
    <IMG src="/Users/joselo09111/Downloads/open-book-clipart-03.png">
    <tl>A book of an adventurous wizard.
    </tl>
    <tl align="RIGHT">$14.95</tl>
    <dl> </dl>
    <button type="button">Add to Cart!</button>
    <button type="button">Remove to Cart!</button>
  </fieldset>
  <dl></dl>
  <tl>Total: $33.93</tl>
  <dl></dl>
  <button type = "button">Add all to Cart</button>
  <dl></dl>
  <button type = "button">Remove all to Cart</button>
</fieldset>
</body>

