<header> 
  <nav class="nav-bar">
      <ul class="nav-links">
        <li><a href = "#">Home</a></li>
        <li><a routerLink="/browse" routerLinkActive="active">Browse</a></li>
        <li><a routerLink="/shoppingcart" routerLinkActive="active">Shopping Cart</a></li>
        <li><a href = "#">Wish List</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
  </nav>
</header>

<router-outlet></router-outlet>