<nav>
  <style>
  .tab3{ tab-size: 3;
  color: rgb(0,0,255);
  text-decoration: underline}
  nav{text-align: center;
  background-color: rgb(182, 214, 228);
  height: 40px;}
  </style>
  <a class="tab3" style="margin:15px">Home</a>
  <a class="tab3" style="margin:15px">Browse</a>
  <a class="tab3" style="margin:15px">Shopping Cart</a>
  <a class="tab3" style="margin:15px">Wish List</a>
  <a class="tab3" style="margin:15px">Logout</a>
</nav>
<h1 align="CENTER" style="font: 60px Copperplate, fantasy;background-color:rgb(0, 184, 148); color: rgb(255,255,255)">Wish List</h1>
<body>
<fieldset id="field">
  <!This is where all the list are in place>
</fieldset>
<p></p>
<button onclick='addList()' id="addListBTN">Add list</button>
<script src="mainPage.js"></script>
</body>

