<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="itemHeader">
  <div class="ibox-title">
    <h2>Items in your cart</h2>
  </div>
  <div>
    <div class="ibox-content">
      <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
      <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
    </div>
    <div class="ibox-content">
      <h5>Cart Summary</h5>
      <span>(<strong>{{sizeOfCart}}</strong>) items</span>
      <hr>
    </div>
  </div>
</div>

<div class="container" *ngFor="let item of shoppingCartItems">
  <div class="wrapper wrapper-content animated fadeInRight" *ngIf="item.userId === bookStoreUser">
    <div class="row">
      <div class="col-md-9">
        <div class="ibox" *ngIf="!item.saveForLater">
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                <tr>
                  <td width="90">
                    <div class="cart-product-imitation">
                    </div>
                  </td>
                  <td class="desc">
                    <h3>
                      <a href="#" class="text-navy">
                        {{item?.bookName}}
                      </a>
                    </h3>
                    <p class="small">
                      ISBN: {{item?.id}}
                      <br>
                      Quantity : {{item?.quantityInCart}}
                    </p>
                    <div class="m-t-sm">
                      <div class = "separate">
                        <button type="button" (click)="onOpenModal(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">
                          Update Quantity
                        </button>
                        <button type="button" (click)="onOpenModal(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removeModal">
                          Remove item
                        </button>
                        <button type="button" (click)="onOpenModal(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">
                          Save for later
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      Price: ${{item?.bookPrice}}.00
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox-content">
  <span>
      Total:
      <h2 class="font-bold">
        ${{sumOfCart}}.00
    </h2>
  </span>
  <hr>
</div>

<div class="itemHeader">
  <div class="ibox-title">
    <h2>Save for Later</h2>
  </div>
</div>

<div class="container" *ngFor="let item of shoppingCartItems">
  <div class="wrapper wrapper-content animated fadeInRight" *ngIf="item.userId === bookStoreUser">
    <div class="row">
      <div class="col-md-9">
        <div class="ibox">
          <div class="ibox-content" *ngIf="item.saveForLater">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                <tr>
                  <td width="90">
                    <div class="cart-product-imitation">
                    </div>
                  </td>
                  <td class="desc">
                    <h3>
                      <a href="#" class="text-navy">
                        {{item?.bookName}}
                      </a>
                    </h3>
                    <p class="small">
                      ISBN: {{item?.id}}
                      <br>
                      Quantity : {{item?.quantityInCart}}
                    </p>
                    <div class="m-t-sm">
                      <div class = "separate">
                        <button type="button" (click)="onOpenModal(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                          Add to Cart
                        </button>
                        <button type="button" (click)="onOpenModal(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removeModal">
                          Remove item
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      Price: ${{item?.bookPrice}}.00
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Quantity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateBookForm="ngForm">
          <div>
            <label for="book-quantity">Amount: </label>
            <input type="text" ngModel="{{bookQuantity?.quantityInCart}}" name="quantityInCart" id="book-quantity" required>
          </div>
          <input type="hidden" ngModel="{{bookQuantity?.bookName}}" name="bookName" id="book-name">
          <input type="hidden" ngModel="{{bookQuantity?.id}}" name="id" id="book-isbn">
          <input type="hidden" ngModel="{{bookQuantity?.userId}}" name="userId" id="book-id">
          <input type="hidden" ngModel="{{bookQuantity?.bookPrice}}" name="bookPrice" id="updateVal">
          <input type="hidden" ngModel="{{bookQuantity?.saveForLater}}" name="saveForLater" id="book-save">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-modal-butt" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button [disabled]="updateBookForm.invalid" (click)="onUpdateBook(updateBookForm.value)" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Remove -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove {{bookQuantity?.bookName}}?
      </div>
      <div class="modal-footer">
        <button type="button" id="close-remove-butt" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="onRemoveBook(bookQuantity?.id)" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Save for later-->
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save For Later</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to save this item for later?
        <form #saveBookForm="ngForm">
          <div>
            <input type="hidden" ngModel="{{bookQuantity?.quantityInCart}}" name="quantityInCart" id="book-quantity" required>
            <input type="hidden" ngModel="{{bookQuantity?.bookName}}" name="bookName" id="book-name">
            <input type="hidden" ngModel="{{bookQuantity?.id}}" name="id" id="book-isbn">
            <input type="hidden" ngModel="{{bookQuantity?.userId}}" name="userId" id="book-id">
            <input type="hidden" ngModel="{{bookQuantity?.bookPrice}}" name="bookPrice" id="updateVal">
            <input type="hidden" ngModel="{{true}}" name="saveForLater" id="book-save">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-save-butt" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="onSaveBook(saveBookForm.value)" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add to Cart-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add to Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add this item to cart?
        <form #addBackBookForm="ngForm">
          <div>
            <input type="hidden" ngModel="{{bookQuantity?.quantityInCart}}" name="quantityInCart" id="book-quantity" required>
            <input type="hidden" ngModel="{{bookQuantity?.bookName}}" name="bookName" id="book-name">
            <input type="hidden" ngModel="{{bookQuantity?.id}}" name="id" id="book-isbn">
            <input type="hidden" ngModel="{{bookQuantity?.userId}}" name="userId" id="book-id">
            <input type="hidden" ngModel="{{bookQuantity?.bookPrice}}" name="bookPrice" id="updateVal">
            <input type="hidden" ngModel="{{false}}" name="saveForLater" id="book-save">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-add-butt"class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="onAddBackBook(addBackBookForm.value)" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
