<div class="page">

    <div class="col-sm-6 push-bit">
        <a (click) = "show()">
            <a class="lightbox">
                <img src="{{book.imageUrl}}"/>
            </a>
         </a>
    </div>

    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body">
              <img src="{{book.imageUrl}}" id="imagepreview" style="width: 570px; height: 670px;" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "hide()">Close</button>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-6 push-bit">

        <div class="clearfix">
            <span class="h4">
                <strong class="text-success">{{book.title}}</strong><br />
                <br><small>  
                    isbn: {{book.isbn}}
                    <br> Genre: {{book.genre}}
                    <br> Published on: {{book.releaseDate}} 
                    <br> Publisher: {{book.publishingInfo}}
                </small>
            </span>
            <hr>
        </div>

        <p>
        <br> {{book.description}}
        </p>
        <hr>

        <div class = "author">
                by 
                <a routerLink="/author/{{book.author}}" routerLinkActive="active"> {{book.author}}</a>
        </div>
        <td class="rate text-right"><ngb-rating [max]="5" [(rate)]="book.bookRating" [readonly]="true"></ngb-rating></td>
        <br>
        <div class = "authorDesc">
            <p>
               {{book.authorDescription}} 
            </p>
        </div>
        <hr>
        <div class="pull-left">
            <span class="h2"><strong>$ {{book.price}}</strong></span>
    </div>
        <button type="submit" class="btn btn-info"> Add to Cart </button>
    </div>

</div>
<div class="comment-thread">
    <!-- Comment 1 start -->
    <details open class="comment" id="comment-1">
        <summary>
            <div class="comment-heading">
                <div class="comment-voting">
                    <button type="button">
                        <span aria-hidden="true">&#9650;</span>
                        <span class="sr-only">Vote up</span>
                    </button>
                    <button type="button">
                        <span aria-hidden="true">&#9660;</span>
                        <span class="sr-only">Vote down</span>
                    </button>
                </div>
                <div class="comment-info">
                    <a href="#" class="comment-author">someguy14</a>
                    <p class="m-0">
                     4 days ago
                    </p>
                </div>
            </div>
        </summary>
        <div class="comment-body">
            <p>
                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
            </p>
        </div>

        <details open class="comment" id="comment-2">
            <summary>
                <div class="comment-heading">
                    <div class="comment-voting">
                        <button type="button">
                            <span aria-hidden="true">&#9650;</span>
                            <span class="sr-only">Vote up</span>
                        </button>
                        <button type="button">
                            <span aria-hidden="true">&#9660;</span>
                            <span class="sr-only">Vote down</span>
                        </button>
                    </div>
                    <div class="comment-info">
                        <a href="#" class="comment-author">randomperson81</a>
                        <p class="m-0">
                             3 days ago
                        </p>
                    </div>
                </div>
            </summary>

            <div class="comment-body">
                <p>
                    Took the words right out of my mouth!
                </p>
            </div>
        </details>
    </details>
    <!-- Comment 1 end -->
</div>

