@import 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'; 
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

.page{
    position:absolute;
    right: 40%;
}
body{
    margin-top:20px;
}

.push-bit {
    margin-bottom: 30px;
}

a.lightbox img{
    height: 400px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    position: absolute;
    right: 10%;
}

.author{
    font-weight: bold;
    font-size: 15px;
}
.btn-info{
    position: absolute;
    right: 5%;
}
.bookdetails{
    position:relative;
    left: 5%;
}